h2.main_hd_notap 用户编辑
.inner_body#inner_box
	.edit_user_info_box
		span(data-para-_id="#{user._id}",data-para-position="#{user.position}")#edit_info_user_id
		//- .user_box
		.edit_user_info_left
			.input-box
				.input-item
					.w-100
						lable.input-attr 姓名
					.w-220
						input#user_realname.form-control(type="text",placeholder="真实姓名",value=user.realname)
				.input-pro
					.w-100
					.w-220
						span.input-msg
			.input-box
				.input-item
					.w-100
						lable.input-attr 公司
					.w-220
						select#user_company.form-control
							option 请选择公司
							each company,index in companys
								- if(company.company_remark)
									option(data-para-_id="#{company._id}" value="#{company._id}" selected) #{company.name}
								- else
									option(data-para-_id="#{company._id}" value="#{company._id}") #{company.name}
				.input-pro
					.w-100
					.w-220
						span.input-msg
			.input-box
				.input-item
					.w-100
						lable.input-attr 职位
					.w-220
						select#user_position.form-control
							option(value=60) 总裁
							option(value=50) 副总裁
							option(value=40) 总监
							option(value=30) 副总监
							option(value=20) 部门经理
							option(value=10) 普通职员
				.input-pro
					.w-100
					.w-220
						span.input-msg
		.edit_user_info_right
			.input-box
				.input-item
					.w-100
						lable.input-attr 用户名
					.w-220
						input#user_edit_username.form-control(type="text",placeholder="用户名",value=user.username,readonly)
				.input-pro
					.w-100
					.w-220
						span.input-msg
			.input-box
				.input-item
					.w-100
						lable.input-attr 部门
					.w-220
						select#user_departs.form-control
							option 请先选择公司
				.input-pro
					.w-100
					.w-220
						span.input-msg
		.edit_user_info_left
			.input-box
				.input-item
					.w-100
						lable.input-attr 电话号码
					.w-220
						input#user_phone.form-control(type="text",placeholder="电话号码",value=user.phone)
				.input-pro
					.w-100
					.w-220
						span.input-msg
		.edit_user_info_right
			
			.input-box
				.input-item
					.w-100
						lable.input-attr 邮箱
					.w-220
						input#user_email.form-control(type="text",placeholder="邮箱",value=user.email,readonly)
				.input-pro
					.w-100
					.w-220
						span.input-msg
		.input-box.user_edit_button_middle
			button(type="button",class="button button-primary",data-dismiss="modal",onclick="jsuser.auUser()") 提交
script.
	$(document).ready(function(){
		var company_id = $("#user_company").val();
		var user_id = $("#edit_info_user_id").data("para-_id");
		$.ajax({
			url: '/depart/departs',
			type: 'POST',
			data: {
				_id: company_id,
				user_id:user_id
			},
			async: false,
			success: function(data) {
				cb(data);
			},
			error: function() {
				console.log('用户获取角色集合出错');
			}
		});
		function cb(data) {
			$("#user_departs").html(data);
		}

		checkPosition();
		function checkPosition(){
			var user_position = $("#edit_info_user_id").data("para-position");
			var positions = $("#user_position option");
			for(var i = 0;i<positions.length;i++){
				if(user_position==$(positions[i]).val()){
					positions[i].selected=true;
				}
			}
		}
	});
