//- //- extends ../includes/layout.jade
//- block content
table.table.table-hover.table-bordered.i_table
	thead
		tr.active
			th.th_first 用户名
			th 姓名
			//- th 手机号码
			//- th 角色
			//- th 注册时间
			th 邮箱
			th.th_last 操作
	tbody
		each user,index in users
			tr
				td.td_first #{user.username}
				td #{user.realname}
				td #{user.email}
				//- td #{user.pwd}
				//- td #{user.phones}
				//- td #{user.roles}
				//- td.light_color #{user.username}
				//- .light_color
				td.td_last
					//- i(class='fa fa-edit hover_primary table_icon',title='修改用户',data-toggle="tooltip",data-placement="bottom")
					//- i(class='fa fa-key hover_warning table_icon',title='设定角色',data-toggle="tooltip",data-placement="bottom")
					//- i(class='fa fa-remove hover_danger table_icon',title='删除用户',data-toggle="tooltip",data-placement="bottom")
					span.hide_datas(data-para-_id='#{user._id}',data-para-username=user.username,data-para-remark=user.remark)
					i.iconfont.hover_primary.default_color.user_edit_link.icon-class-edit2
					i.iconfont.hover_warning.default_color.user_set_role_modal.icon-class-role
					i.iconfont.hover_danger.default_color.user_change_pwd_modal.icon-class-key1



//- dl.menu
//- 	each user,index in users
//- 		dd.menu_item
//- 			a.role_show_auths(data-user-id="#{user._id}") #{user.username}
//- 			span.column_icon_span
//- 				span.hide_datas(data-para-_id='#{user._id}',data-para-name=user.name,data-para-remark=user.remark)
//- 				i.iconfont.hover_warning.default_color.icon-class-key1
//- 				//- i.iconfont.hover_danger.default_color.remove_role_modal.icon-class-delete2
//- 				//- i.iconfont.hover_warning.default_color.icon-class-move4.column_icon_move

//- 		