//- 框架js文件的引入
//- jquery文件
script(type='text/javascript',src='#{staticCtx}libs/jquery/dist/jquery.min.js')
//- jquery验证文件
script(type='text/javascript',src='#{staticCtx}libs/jquery-validation/jquery.validate.min.js')
//- 进入jQuery校验的中文提示
script(type='text/javascript',src='#{staticCtx}libs/jquery-validation/localization/messages_zh.min.js')
//- jquery-ui文件
script(type='text/javascript',src='#{staticCtx}libs/jquery-ui/jquery-ui.min.js')
//- bootstrap主js文件
script(type='text/javascript',src='#{staticCtx}libs/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript',src='#{staticCtx}libs/messenger/js/messenger.min.js')
	
//- less编译的js文件
script(type='text/javascript',src='#{staticCtx}libs/less/dist/less.min.js')


//- 引入自设定的js文件
script.
	var ctx = '#{ctx}';
	var staticCtx = '#{staticCtx}';
	//- console.log(ctx);
script(type='text/javascript',src='#{staticCtx}util/ibootbox.js')
script(type='text/javascript',src='#{staticCtx}util/iform.js')
script(type='text/javascript',src='#{staticCtx}util/imessenger.js')
script(type='text/javascript',src='#{staticCtx}util/ipopover.js')
//- script(type='text/javascript',src='#{staticCtx}util/itools.js')
script(type='text/javascript',src='#{staticCtx}util/iutil.js')
script(type='text/javascript',src='#{staticCtx}util/ivalidate.js')
script(type='text/javascript',src='#{staticCtx}util/iverify.js')

script(type='text/javascript',src='#{staticCtx}pc/js/system/imain.js')
script(type='text/javascript',src='#{staticCtx}pc/js/system/imenu.js')
script(type='text/javascript',src='#{staticCtx}pc/js/system/ipower.js')
script(type='text/javascript',src='#{staticCtx}pc/js/system/itop.js')