//- 设置基础样式的定义
meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
//- 设置ie浏览器的兼容
meta(http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE")
//- 设置手机端的自适应
meta(name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui")

//- 框架样式引入
//- bootstrap基础样式
link(rel='stylesheet',type='text/css',href='#{staticCtx}libs/bootstrap/dist/css/bootstrap.min.css')
//- bootstrap时间插件样式
link(rel='stylesheet',type='text/css',href='#{staticCtx}libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')
//- bootstrap的按钮样式
link(rel='stylesheet',type='text/css',href='#{staticCtx}libs/bootstrap-buttons/buttons.css')
//- bootstrap弹出框的主样式
link(rel='stylesheet',type='text/css',href='#{staticCtx}libs/messenger/css/messenger.css')
//- bootstrap弹出框的主题样式
link(rel='stylesheet',type='text/css',href='#{staticCtx}libs/messenger/css/messenger-theme-air.css')
//- 引入阿里的图标
link(rel='stylesheet',type='text/css',href='#{staticCtx}libs/iconfont/iconfont.css')

//- 引入图标
link(rel='shortcut icon',href='#{staticCtx}pc/imgs/logo32.png')

//- 自设定样式的引入
link(rel='stylesheet/less',type='text/css',href='#{staticCtx}pc/css/index.less')

link(rel='stylesheet/less',type='text/css',href='#{staticCtx}pc/css/menu.less')
link(rel='stylesheet/less',type='text/css',href='#{staticCtx}pc/css/power.less')