//- 框架样式引入
//- bootstrap基础样式
link(rel='stylesheet',type='text/css',href='#{staticCtx}libs/bootstrap/dist/css/bootstrap.min.css')
//- bootstrap时间插件样式
link(rel='stylesheet',type='text/css',href='#{staticCtx}libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')
//- bootstrap的按钮样式
link(rel='stylesheet',type='text/css',href='#{staticCtx}libs/bootstrap-buttons/buttons.css')
//- bootstrap弹出框的主样式
link(rel='stylesheet',type='text/css',href='#{staticCtx}libs/messenger/css/messenger.css')
//- bootstrap弹出框的主题样式
link(rel='stylesheet',type='text/css',href='#{staticCtx}libs/messenger/css/messenger-theme-air.css')
//- 引入阿里的图标
link(rel='stylesheet',type='text/css',href='#{staticCtx}libs/iconfont/iconfont.css')

//- 引入图标
link(rel='shortcut icon',href='#{staticCtx}mobile/imgs/logo32.png')

//- 自设定样式的引入
link(rel='stylesheet/less',type='text/css',href='#{staticCtx}mobile/css/sign.css')