//- script(type='text/javascript',src='/js/order.js')
//- span#checked_company_id_remark_data
dl.company_au_box.menu
	each company,index in companys
		dd.menu_item
			a(onclick="company.getDepart('#{company._id}')") #{company.name}
				//- i.iconfont.default_color(class="#{company.icon}")
				//- |#{company.name}
			//- span.company_item_attr #{company.remark}
			span.column_icon_span
				span.hide_datas(data-para-_id='#{company._id}',data-para-name=company.name,data-para-order=company.order)
				i.iconfont.hover_primary.default_color.edit_company_modal.icon-class-edit1
				i.iconfont.hover_danger.default_color.remove_company_modal.icon-class-delete2
				i.iconfont.hover_warning.default_color.icon-class-move4.column_icon_move
				//- i.iconfont.hover_warning.default_color.icon-class-move4.column_icon_move
		