extends ./common/includes/layout.jade
block content
	//- 头部页面块
	.viewFramework-topbar
		include ./common/includes/topbar.jade

	//- body部分页面块
	.viewFramework-body
		.view-body-cont
			//- 栏目部分页面块
			.view-sidebar-cont
				include ./common/includes/sidebar.jade
			//- 主显示区域页面块
			.view-product-body
				include ./demo/testValidate.jade

	//- 脚部页面块
	.viewFramework-footer
		include ./common/includes/footer.jade
		
	script(type='text/javascript',src='#{staticCtx}/backup/js/system/menu.js')
	script(type='text/javascript',src='#{staticCtx}/backup/js/system/auth.js')
	script(type='text/javascript',src='#{staticCtx}/backup/js/system/role.js')
	script(type='text/javascript',src='#{staticCtx}/backup/js/system/user.js')
	script(type='text/javascript',src='#{staticCtx}/backup/js/system/company.js')
	script(type='text/javascript',src='#{staticCtx}/backup/js/system/depart.js')