h4.page-title 栏目管理
.page-second-title-content
	ul.tab-navs
		li.tab-nav.checked
			a(href="javascript:void(0)") 前台栏目
		li.tab-nav
			a(href="javascript:void(0)") 后台栏目
.body-menus-count
	.au-menu-count
		.page-third-title 栏目管理
			span.menu-tools-cont
				a.menu-tools-box.first-add(href="javascript:void(0)")
					i.icon.icon-add.hover-primary
				a.menu-tools-box(href="javascript:void(0)" data-flex-icon="flex")
					i.icon.icon-move.hover-warning
		#menu-cont.sidebar-cont.menu-content(data-cont="menu-cont")
			each menu,index in menus
				.menu-box
					dl.menu
						dt.menu-title
							i.menu-icon.icon.icon-tool
							a.title-cont #{menu.name}
							span.menu-tools-cont
								span(data-para-place='#{menu.place}' data-para-id='#{menu.id}' data-para-sort='#{menu.sort}')
								a.menu-tools-box.second-add(href="javascript:void(0)")
									i.icon.icon-add.hover-primary
								a.menu-tools-box.first-edit(href="javascript:void(0)")
									i.icon.icon-edit.hover-warning
								a.menu-tools-box(href="javascript:void(0)")
									i.icon.icon-delete.hover-danger
								a.menu-tools-box.handle.hide(href="javascript:void(0)")
									i.icon.icon-grip.hover-warning.menu-move-handle
						.menu-items-count
							each item,index2 in menu.childs
								dd.menu-item(data-page-click="menu-item")
									a.item-cont(data-menu="item" data-body-mapping="/pages/demo/demobox.html" href="javascript:void(0)") #{item.name}
									span.menu-tools-cont
										span(data-para-place='#{item.place}' data-para-id='#{item.id}' data-para-parent-id='#{item.parentId}' data-para-sort='#{item.sort}')
										a.menu-tools-box.second-edit(href="javascript:void(0)")
											i.icon.icon-edit.hover-warning
										a.menu-tools-box(href="javascript:void(0)")
											i.icon.icon-delete.hover-danger
										a.menu-tools-box.handle.hide(href="javascript:void(0)")
											i.icon.icon-grip.hover-warning.menu-move-handle

script.
	$(function(){
		moveFirstMenu();
	})

	//- imenu.moveFirstMenu = function(){
	function moveFirstMenu(){
		console.log("一级栏目拖动");
		// 一级栏目的拖动
		$("#menu-cont").sortable({
			//            约束其运动方向(只能y轴运动)
			axis: "y",
			//设置把手
			handle: ".menu-move-handle",
			revert: true,
			//            约束其运动范围(只能在父元素中运动)
			//            containment: "parent",
			start: function(event, ui) {
				// console.
				ui.item.addClass("move-box-start");

				// console.log(event);
				// console.log(ui);
				// ui.item.removeClass("add_transition");
				// $(this).addClass("sortable_start");
				// $("#sortable>.li").addClass("li_sor");
			},
			stop: function(event, ui) {
				ui.item.removeClass("move-box-start");
				// console.log($(this))
				var len = $(this).children('dl.menu').length;
				var ele;
				var menu;
				for (var i = 0; i < len; i++) {
					ele = $(this).children('dl').eq(i).children('dt').children('span').children('span.hide_datas');
					menu = iutil.getDatas(ele, {
						dataName: 'para-_id',
						objName: '_id'
					}, {
						dataName: 'para-name',
						objName: 'name'
					})
					menu.order = i + 1;
					// console.log('顺序修改完成' + i);
					// console.log(menu);
					$.ajax({
						url: 'menu/order',
						type: 'post',
						data: {
							_id: menu._id,
							order: menu.order
						},
						success: function(data) {
							// console.log('顺序修改完成' + i);
							// $("#column_list").html(data);
							// console.log(data);
						},
						err: function(jqXHR, textStatus, errorThrown) {
							console.log('error ' + textStatus + " " + errorThrown);
						}
					})
				};
			}
		});
	}
