script(type='text/javascript',src='#{staticCtx}util/isort.js')
each menu,index in menus
	.menu-box
		dl.menu
			dt.menu-title
				i.menu-icon.icon.icon-tool
				a.title-cont #{menu.name}
				span.menu-tools-cont
					span(data-para-place='#{menu.place}' data-para-id='#{menu.id}' data-para-sort='#{menu.sort}')
					a.menu-tools-box.second-add(href="javascript:void(0)")
						i.icon.icon-add.hover-primary
					a.menu-tools-box.first-edit(href="javascript:void(0)")
						i.icon.icon-edit.hover-warning
					a.menu-tools-box(href="javascript:void(0)")
						i.icon.icon-delete.hover-danger
					a.menu-tools-box.handle.hide(href="javascript:void(0)")
						i.icon.icon-grip.hover-warning.menu-move-handle
			.menu-items-count
				each item,index2 in menu.childs
					dd.menu-item(data-page-click="menu-item")
						a.item-cont(data-menu="item" data-body-mapping="/pages/demo/demobox.html" href="javascript:void(0)") #{item.name}
						span.menu-tools-cont
							span(data-para-place='#{item.place}' data-para-id='#{item.id}' data-para-parent-id='#{item.parentId}' data-para-sort='#{item.sort}')
							a.menu-tools-box.second-edit(href="javascript:void(0)")
								i.icon.icon-edit.hover-warning
							a.menu-tools-box(href="javascript:void(0)")
								i.icon.icon-delete.hover-danger
							a.menu-tools-box.handle.hide(href="javascript:void(0)")
								i.icon.icon-grip.hover-warning.item-move-handle


