//- script(type='text/javascript',src='/js/order_depart.js')
dl.depart_au_order_box.menu
	each depart,index in departs
		dd.menu_item
			a #{depart.name}
				//- i  
				//- i.iconfont.default_color(class="#{depart.icon}")
				//- |#{depart.name}
			//- span.depart_item_attr #{depart.remark}
			span.column_icon_span
				span.hide_datas(data-para-cid=depart.company,data-para-_id='#{depart._id}',data-para-name=depart.name,data-para-order=depart.order)
				i.iconfont.hover_primary.default_color.edit_depart_modal.icon-class-edit1
				i.iconfont.hover_danger.default_color.remove_depart_modal.icon-class-delete2
				i.iconfont.hover_warning.default_color.icon-class-move4.column_icon_move
		