each menu,index in menus
	dl.menu
		dt.menu_title
			input.menu_icon.check_box_title.menu_checkbox(type="checkbox",value="#{menu._id}",id="#{menu._id}",checked=menu.role_remark)
			//- i.iconfont.menu_icon(class='#{menu.icon}')
			//- i.iconfont.menu_icon &#xe61d
			|#{menu.name}
			//- #{menu.order}
			span.column_icon_span
		.column_items
			each item,index2 in menu.childs
				dd.menu_item
					//- a(onclick="auth.getAuths('#{item._id}')") 
					input.menu_icon.check_box_item.menu_checkbox(type="checkbox",value="#{item._id}",id="#{item._id}",checked=item.role_remark)
					|#{item.name}
					//- #{item.order}
					span.column_icon_span
script.
	//- var iauths = new Object();
	$(function(){
		$("#role_auths_container_box").find('dd.menu_item').each(function(index, ele) {
			//- console.log(ele);
			var id = $(ele).children('input').first().val();
			//- console.log(id);
			var ele_box = $(ele).children('.column_icon_span').first();

			auth.getIAuths(id,ele_box);
		});
	});
